body {
  width: 500px;
  height: 550px;
  padding: 0;
  margin: 0;
  background-color: rgb(249, 236, 239);
}

button:hover {
  cursor: pointer;
}

#title {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 69%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(234,201,215);
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-align: center;
  font-size: 60px;
  font-family: 'Work Sans', sans-serif;
  border: 3px solid white;
} 
#PomodoroButton {
  top: 60%;
}

#ToDoListButton {
  top: 75%;
}

.main-menu-button {
  color: rgb(234,201,215);
  border-color:white;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  left: 50%;
  font-size: 20px;
  width: 73%;
  /*border: none;*/
  text-align: center; 
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  position: absolute;
  top: 15%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
}

.main-menu-button1:hover { /*hallo morning ppl, this is just for when it uh hovers, it has a border :D*/
  border: 1px solid rgb(234,201,215);
}
/*
.main-menu-button {
  position: absolute;
  color: rgb(234,201,215);
  border-color:white;
  padding: 3%;
  left: 50%;
  font-size: 20px;
  width: 200px;
  border: none;
  transform: translate(-50%, -50%);
  text-align: center; 
  font-family: 'Work Sans', sans-serif;
  background-color: white;
}*/


.timer {
  color: rgb(234,201,215);
  border-color:white;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  left: 50%;
  font-size: 17px;
  width: 73%;
  /*border: none;*/
  text-align: center; 
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  position: absolute;
  top: 45%;
  transform: translate(-25%, -50%);
  border: 3px solid white;
}

#subtitle{
  top: 70%
}

#time{ /* the big time thing */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 69%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(234,201,215);
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-align: center;
  font-size: 60px;
  font-family: 'Work Sans', sans-serif;
  border: 3px solid white;
}